<div style="border: 1px solid;border-color:black!important;border-radius: 20px;text-align: center;" *ngIf="allow!='Yes'">
    <h1>405</h1>
    <h1>Access Denied</h1>
    <a href="/class-list">Go back to page</a>
</div>
<div *ngIf="allow=='Yes'">
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="1" (selectedTabChange)="tabClick($event)">
 
    <mat-tab label="Users" ></mat-tab>
    <mat-tab label="Classes" ></mat-tab>
    
  </mat-tab-group>
<div class="header" style="margin-top: 20px!important;">
    <div style="width: fit-content;float: left;">
       <mat-card style="width: fit-content;float: left;">
           <button (click)="getClassesByStatus('All')" >
             All
           </button>
           <br>

           <button (click)="getClassesByStatus('Block')" >
              Block
           </button>
           <br>
           <button (click)="getClassesByStatus('Unblock')" >
              Unblock
           </button>


           
       </mat-card>
   </div> 
   <div *ngIf="classStatus=='All'" style="float: right;width:80%">
<table style="width:100%;" [cellSpacing]=0>
    <tr style="height:20px;">
        <th>Class Name</th>
        <th>Creator Of Class First Name</th>
        <th>Creator Of Class Last Name</th>
        <th>Creator of Class Email</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let item of classes">
    <td>{{item.classname}}</td>
    <td>{{item.creatorOfclass.fname}}</td>
    <td>{{item.creatorOfclass.lname}}</td>
    <td>{{item.creatorOfclass.email}}</td>
    <td>
        <button style="color: blue;" *ngIf="item.status=='Unblock'" (click)="changeStatusOfClass(item._id,item)" >{{item.status}}</button>
        <button style="color: red;" *ngIf="item.status!='Unblock'" (click)="changeStatusOfClass(item._id,item)" >{{item.status}}</button>

    </td>
    
    </tr>
</table>
</div>
<div *ngIf="classStatus!='All'" style="float: right;width:80%">
    <table style="width:100%;" [cellSpacing]=0>
        <tr style="height:20px;">
            <th>Class Name</th>
            <th>Creator Of Class First Name</th>
            <th>Creator Of Class Last Name</th>
            <th>Creator of Class Email</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let item of classes">
        <td *ngIf="classStatus==item.status">{{item.classname}}</td>
        <td *ngIf="classStatus==item.status">{{item.creatorOfclass.fname}}</td>
        <td *ngIf="classStatus==item.status">{{item.creatorOfclass.lname}}</td>
        <td *ngIf="classStatus==item.status">{{item.creatorOfclass.email}}</td>
        <td>
            <button style="color: blue;" *ngIf="item.status=='Unblock' && classStatus==item.status" (click)="changeStatusOfClass(item._id,item)" >{{item.status}}</button>
            <button style="color: red;" *ngIf="item.status!='Unblock'&&  classStatus==item.status" (click)="changeStatusOfClass(item._id,item)" >{{item.status}}</button>
    
        </td>
        
        </tr>
    </table>
</div>
</div>
</div>